# Configuration files
tags
.gdbinit
CMake*
!CMakeLists.txt
*.cmake

# Binary files
obj/
bin/
build/
fractal
fractale
*.o

# Temporary files
*.swp
*.d
*.log
*.aux
*autogen

# Output files
.gdb_history
.valgrind.out
moc_*

# Documentation files
html/
latex/
